@model WebApplication3.Models.User

@{
    ViewData["Title"] = "Вход";
}

<h2>Авторизация</h2>

@if (ViewBag.Error != null)
{
    <p class="text-danger">@ViewBag.Error</p>
}

<form id="loginForm">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Pwd"></label>
        <input asp-for="Pwd" type="password" class="form-control" required />
        <span asp-validation-for="Pwd" class="text-danger"></span>
    </div>

    <button type="submit">Войти</button>
</form>

<div class="link-container">
    <a href="/Auth/Register" class="styled-link">Регистрация</a>
    <a href="/Home/Index" class="styled-link">Войти как гость</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $("#loginForm").submit(function (event) {
                event.preventDefault();

                var formData = {
                    name: $("input[name='Name']").val(),
                    pwd: $("input[name='Pwd']").val()
                };

                $.ajax({
                    url: '/Auth/Login',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            window.location.href = response.redirectUrl;
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('Ошибка при авторизации.');
                    }
                });
            });
        });
    </script>
}
