@model WebApplication3.Models.User

@{
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация</h2>

@if (ViewBag.Error != null)
{
    <p class="text-danger">@ViewBag.Error</p>
}

<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Pwd"></label>
        <input asp-for="Pwd" type="password" class="form-control" required />
        <span asp-validation-for="Pwd" class="text-danger"></span>
    </div>

    <div>
        <label>Подтвердить пароль</label>
        <input type="password" name="confirmPwd" class="form-control" required />
    </div>

    <button type="submit">Зарегистрироваться</button>
</form>

<div class="link-container">
<a href="/Auth/Login" class="styled-link">Авторизация</a>
<a href="/Home/Index" class="styled-link">Войти как гость</a>
</div>  

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
